.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);
.navbar-list {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
  font-family: Montserrat;
  margin-top: 50px;
}

.navbar-item {
  padding: 10px;
  font-size: 26px;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 800px) {
  .navbar-item {
    font-size: 15px;
  }

  .navbar-list {
    margin-right: 35px;
  }
}
