.navbar {
  margin-top: 200px;
  margin-bottom: 200px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
.navbar-list {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
  font-family: Roboto;
}

.navbar-item {
  padding: 10px;
  font-size: 26px;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 800px) {
  .navbar-item {
    font-size: 15px;
  }
}
